
*{
    background-color: rgb(101, 255, 204);
}
a:hover {
    color: green;
    text-align: center;
}
.header {
    font-family: "Fugaz One", Helvetica, sans-serif;
    background-color: rgba(255,255,255,50%); 
    border: 5px solid white; 
    min-width: 600px;
}
.nav {
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 600px;
    text-align: center;
    word-spacing: 5rem;

}
h1 {
    font-family: "Fugaz One", sans-serif;
    color: white;
    min-width: 600px;
    font-size: 2em;
    text-align: center;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
h3 {
   font-family: 'Roboto Condensed', sans-serif;
}
.container {
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    align-self: center;
}
#poster1, #poster2, #poster3 {
    box-shadow: 5px 5px 5px #680b7a;
    border: 2px solid white;
}

.lists {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    
}
.bands {
    float: left;
    width: 40%;
    height: 420px;
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    border: 5px solid white;
    overflow: scroll;
}
.facts {
    float: right;
    width: 40%;
    height: 420px;
    box-sizing: border-box;
    margin: 10px;
    padding: 15px;
    border: 5px solid white;
    overflow: scroll;
}
.contact {
    border: 5px solid white;
    padding: 10px;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    min-width: 600px;
}
name {
    color: white;
}
.footer {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
    clear: both;
}
@media (min-width: 600px) {
    .container, .lists, .header {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (min-width: 600px) {
    .nav {
        word-spacing: 10rem;
    }
}
@media (min-width: 600px) {
    .header, .nav {
        width: auto;
    }
}
@media (min-width: 600px) {
    h1 {
        font-size: 3em;
    }
}