
*{
    background-color: rgb(101, 255, 204);
}
a:hover {
    color: green;
    text-align: center;
}
header {
    text-align: center;
    font-family: "Fugaz One", Helvetica, sans-serif;
    background-color: rgba(255,255,255,50%); 
    border: 5px solid white; 
    color: white;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
h1{
    font-family: "Fugaz One", sans-serif;
    font-size: 2em;
}
h3 {
   font-family: 'Roboto Condensed', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    min-width: 320px;
    max-width: 1024px;
    justify-content: space-between;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;

}
#poster1, #poster2, #poster3 {
    box-shadow: 5px 5px 5px #808080;
    border: 2px solid white;
}


.contact {
    text-align: center;
    border: 5px solid white;
    padding: 10px;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1024px;
    display: flex;
    justify-content: center;
}
.nav {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 10em;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    max-width: 1024px;
    min-width: 320px;
}
.facts, .bands {
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 320px;
    max-width: 1024px;
    border: 2px solid white;
}
.footer {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
}
@media (max-width: 1024px) {
    .container, .bands, .facts, .nav {
        width: auto;
    }
}
@media (min-width: 320px) {
    .bands, .facts, .container {
        width: auto;
    }
}
