body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}
.chirpus {
    font-size: 12px;
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-height: 2em;
    margin: 10px; 
}
.content {
    display: flex;
    flex-direction: column;
    position: relative;
}
h3 {
    font-weight: bolder;
    font-size: 1.5em;
}
.text p {
    border-left: 2px solid gray;
    padding: 3px;
    margin: 2px;
}
.circles {
    position: absolute;
    top: 11em;
}
.circle1 {
    width: 270px;
    height: 270px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 140px;
    position: absolute;
    margin-top:  110px;
    left: 70px;
    z-index: 2;
}
.circle2 {
    width: 200px;
    height: 200px;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 100px;
    position: absolute;
    margin-top: 220px;
    left: 200px;
    z-index: 3;

}
.circle3 {
    width: 170px;
    height: 170px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 100px;
    position: absolute;
    margin-top: 150px;
    left: 230px;
    z-index: 1;
}

.button1, .button2 {
    color: white;
    padding: .3px;
    margin: 3px 0px 3px 0px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

@media screen and (min-width: 480px) {
    .content, .nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: space-around;
        align-content: flex-end;
    
    }
} 